.container {
  margin-top: 20px; /* المسافة العلوية للحاوية */
  margin-bottom: 15px; /* المسافة السفلية للحاوية */
}

button {
  margin-top: 8px; /* المسافة العلوية للزر */
  white-space: nowrap; /* منع النص داخل الزر من الانقسام إلى سطور متعددة */
}

form {
  display: flex; /* عرض العناصر بداخل الفورم بشكل مرن */
  flex-direction: row; /* توزيع العناصر بشكل أفقي */
  gap: 1rem; /* المسافة بين عناصر الفورم */
}

.divbtn {
  width: 100px; /* عرض البلوك */
  display: block; /* عرض العنصر كبلوك */
}
